.example-spacer {
  flex: 1 1 auto;
}

.example-icon-clean {
  border: none;
  background-color: transparent;
  color: white;
}

.example-logo {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.logo-size {
  height: 35px;
}
