<mat-toolbar  color="primary">

  <div class="example-logo">
    <img class="logo-size" src="../../../../assets/logo/log01.png" alt="icon-logo"/>
  </div>
  <span>Project </span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon-clean" aria-label="Icon">
    <mat-icon>contrast</mat-icon>
 </button>
  <button mat-icon-button class="example-icon-clean" aria-label="Icon">
     <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon-clean" aria-label="Icon" >
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
