<app-template-master>
  <div class="header-navigation">
    <app-navigation-menu></app-navigation-menu>
  </div>

  <div class="nav-template">
    <div class="profile">
      <p id="p-nav">{{pageName}}</p>
      <div class="circle-login"></div>
    </div>
    

    <div class="navigation-component">  
      <div class="nav-menu">
        <a routerLink="/home">
          <p>Home</p>
        </a>

        <a routerLink="/products">
          <p>Products</p>
        </a>

        <a routerLink="/readme">
          <p>Read.me</p>
        </a>
      </div>
    </div>
  </div>

  <div class="main-template">
    <app-products></app-products>
  </div>

  <div class="main-footer">
    <button mat-mini-fab class="new-color" id="gap-button" routerLink="/readme" matTooltip="Info Read.me">
      <mat-icon><span class="material-symbols-outlined">
        settings
        </span></mat-icon>
    </button>
  </div>
</app-template-master>
