.navigation {
  position: relative;
  height: 100vh;
  background-color: #3c4787;
  margin: 0px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

