<app-template-master>

  <div class="header-navigation">
    <app-navigation-menu></app-navigation-menu>
  </div>

  <div class="nav-template">
    <p id="p-nav">Navigation</p>
    <div class="circle-login"></div>
  </div>

  <div class="main-template">
    <app-home></app-home>
  </div>

  <div class="main-footer">
    <button mat-mini-fab class="new" id="gap-button" routerLink="/readme">
      <mat-icon><span class="material-symbols-outlined">
        settings
        </span></mat-icon>
    </button>
    <button mat-fab extended color="primary" id="gap-button" >
      <mat-icon>add</mat-icon>Create
    </button>
  </div>

</app-template-master>
