<app-template-master>

  <div class="header-navigation">
    <app-navigation-menu></app-navigation-menu>
  </div>

  <div class="nav-template">
    <p id="p-nav">Navigation</p>
    <div class="circle-login"></div>
  </div>

  <div class="main-template">
    <app-readme></app-readme>
  </div>

  <div class="main-footer">
    <button mat-fab extended color="primary" id="gap-button" routerLink="/home" matTooltip="Create Product">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>

</app-template-master>
