<app-template-master>

  <div class="header-navigation">
    <app-navigation-menu></app-navigation-menu>
  </div>

  <div class="nav-template">
    <p id="p-nav">{{pageName}}</p>
    <div class="circle-login"></div>
    <div class="nav-menu-style">
      <a routerLink="/home">
        <p>Home</p>
      </a>
      <a routerLink="/products">
        <p>Products</p>
      </a>
      <a routerLink="/readme">
        <p>READ.ME</p>
      </a>
    </div>
  </div>
  <div class="main-template">
    <app-readme></app-readme>
  </div>
  <div class="main-footer">
    <button mat-fab extended color="primary" id="gap-button" routerLink="/products" matTooltip="Create Product">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>
</app-template-master>
