<app-template-master>

  <div class="nav-template">
    <p id="p-nav">Navigation</p>
    <div class="circle-login"></div>
  </div>

  <div class="main-template">
    <app-readme></app-readme>
  </div>

  <div class="main-footer">
    <button mat-mini-fab class="new" id="gap-button" >
      <mat-icon><span class="material-symbols-outlined">
        settings
        </span></mat-icon>
    </button>
    <button mat-fab extended color="primary" id="gap-button" routerLink="/home">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>

</app-template-master>
