.container-products {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.example-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-form-field {
  width: 200px;
}
.form-module {
  width: full;
}

.padding-field {
  padding-right: 8px;
}

button {
  width: 150px;
}

.align-bottom {
  margin: 0px 38px;
}

.title-table-result {
  padding-top: 26px;
}

.table {
  width: 100%;
  padding: 30px 0px;
  text-align: left;
}

thead, p {
  color: #525562;
}

td {
  width: 150px;
  padding-top: 12px;
}

.new-color {
  background-color:#29B69D;
}

.button-size {
  width: 45px;
}