.example-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-module {
  width: 700px;
}

.padding-field {
  padding: 0 6px;
}

button {
  width: 150px;
}

.align-bottom {
  margin: 0px 26px;
}


thead {
  color: #525562;
}

.table {
  width: 100%;
  padding: 30px;
}




.new-color {
  background-color:#29B69D;
}

td {
  width: 150px;
}
