/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FBF7F4;
  overflow: hidden;
}

h1 {
  font-size: 38px !important;
  font-weight: 400;
  color:#33353d;
}

h2 {
  font-size: 32px !important;
  font-weight: 400 !important;
  color:#29B69D;
}

p {
  margin-bottom: 8px !important;
  color:#33353d;
}

.newBackground {
  background-color: #023047;
}
