html, body {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FBF7F4;
  overflow: hidden;
}

h1 {
  font-size: 38px !important;
  font-weight: 400;
  color:#33353d;
}

h2 {
  font-size: 32px !important;
  font-weight: 400 !important;
  color:#29B69D;
}

p {
  margin-bottom: 8px !important;
  color:#33353d;
}

.newBackground {
  background-color: #023047;
}

/* main */
.main-template {
  display: flex;
  padding: 26px 0px;
}

#gap-button {
  margin-left: 15px;
}

/* nav */
#p-nav {
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.circle-login {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: aliceblue;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: aliceblue !important;
}

/* Nav-menu */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-component {
  display: flex;
  width: 185px;
}

.nav-menu {
  padding-top: 25px;
  width: 100%;
}

a {
  text-decoration: none;
}
