<div class="myReadme">
  <h1>Read.me</h1>
  <div>
    <h4>Project Specifications</h4>
  </div>
  <br>
  <div>
    <h4>Repositories available on Github</h4>
    <p>Front-end - <a href="https://github.com/asafekauffmann/cfp-project">{{gitHubFrontEnd}}</a></p>
    <p>Back-end -  <a href="https://github.com/asafekauffmann/cfp-backend">{{gitHubBackEnd}}</a></p>
  </div>
  <br>
  <div>
    <h4>Organization and architectural structure</h4>
    <p>{{ organization }}
    </p>
    <p >
      Modules:<br>
      {{ moduleSystem }}
      <br><br>
      Base
      <br>
       {{ baseArchtecture }}
    </p>

    <p>
      {{ sharedModuleParagraph }}
    <br>
    <h4>Backend Specifications</h4>
    <p>
      Back-end created as a RESTful API that uses the methods (​GET​, ​POST​, ​PUT/PATCH​ and ​DELETE​).      <br><br>
      Dependências:<br>
      {{ dependProject }}
    </p>
    <br/>
    <h4>Requirements not implemented</h4>
    <p>{{ deprecations }}</p>
  </div>
</div>
